/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	
	background: #30323D
	
}


#container {

header {
	font-family: "Impact";
	color: #E8C547;
	background: #4D5061;
	text-align: center;
	margin: 50px;
	padding: 30px;
}

main {
	padding: 20px;
	font-family: "lucida console", "lucida sans typewriter";
	background: #24252E;
	color: #CDD1C4;
}



footer {
	font-size: 0.8em;
	text-align: right;
	color: #E8C547;
	padding:10px;
}

}

nav ul {
	list-style:none;
	padding-left: 0px;
	
}

nav.horizontal li {
	display:inline;
	width: 100%;
	position: center;
	
}

nav a {
	color:#24252E;
	text-decoration:none;
	font-family: "Impact";
	background:#5C80BC;
	padding:5px;
	margin:5px;
	display:inline-block;
	width:150px;
	text-align:center;
	border-radius:10px;
}

nav a:hover {
	background:#E8C547;
	
}


